/* reset default browser settings */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/* styles for the body element */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
    background-color:azure;
}

/* style for the main container  */
.main-container {
    border:2px solid red;
    height:100vh;
    display:grid;
    grid-template-columns:20% 70%;
    grid-template-rows:10% 10% 60% 10%;
    justify-content: center;
    padding-top:1rem;
    
}

/* styles for all the main container items */
.structure {
    border:2px solid blue;
}

/* styles for the div item one */
.one {
    grid-column:1/3;
    display:flex;
    justify-content: center;
    align-items:center;
}

/* styles for the div item two */
.two {
    grid-column:1/3;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* styles for the div heading id */
.head-container {
    border:2px solid black;
    height:80%;
    width:60%;
    margin-left:2.5rem;
    display:grid;
    grid-template-columns:60% 10%;
    justify-content: space-around;
    align-items: center;
}

#list-name {
    border:2px solid red;
    width:90%;
    height:70%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    font-weight:bolder;
}

#list-btn {
    background-color:blue;
    color:white;
    height:70%;
    width:7vw;
    font-weight:bolder;
}

/* styles for the div item five */
.five {
    grid-row:4/5;
    grid-column:1/3;
    display:flex;justify-content: end;
    align-items: center;
    
}


.three {
    display:grid;
    grid-template-rows:10% 70%;
    justify-items: center;
    gap:0.4rem;
}


.favorite {
    width:300px;
    border:2px solid red;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:gold;
}

#left-panel {
    border:2px solid red;
    width:80%;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap:0.2rem;
}

.left-panel-items {
    border:1px solid gold;
    width:100%;
    height:10%;
    background-color:gold;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.svg {
    width:20%;
    height:auto;
}


/* styles for add task button */
#task-btn {
    height:60%;
    width:5%;
    margin-right:2rem;
    font-size:3rem;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:10px;
    background-color:blue;
    color:white;
}

/* styles for the dynamic form */
.form {
    border:2px solid red;
    height:70%;
    width:30%;
    margin:auto;
    margin-top:1.5rem;
    background-color:gold;
}

/* styles for the form legend */
.legend {
    border:2px solid blue;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:1rem;
    height:100%

}

/* style for the task name input */
.name-input {
    height:2rem;
}

/* style for task name input and description */
.name-input, .description {
    font-size:1rem;
    padding:0.2rem;
}


/* style for date input */
.date-input {
    width:60%;
    font-size:1rem;
    font-weight:bold;
    padding:0.2rem;
}

/* style for time input */
.time-input {
    width:60%;
    height:2rem;
    padding:0 0.8rem 0 0.8rem;
    font-size:1rem;
}

/* style for submit button for the form */
.submit-btn {
    height:10vh;
    width:8vw;
    background-color:blue;
    border-radius:10px;
    color:white;
}